In [1]:
import numpy as np
import pandas as pd

In [2]:
rideshare = pd.read_csv('rideshare_kaggle.csv')

In [3]:
rideshare.head(5)

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800

In [4]:
rideshare.columns

Index(['id', 'timestamp', 'hour', 'day', 'month', 'datetime', 'timezone',
       'source', 'destination', 'cab_type', 'product_id', 'name', 'price',
       'distance', 'surge_multiplier', 'latitude', 'longitude', 'temperature',
       'apparentTemperature', 'short_summary', 'long_summary',
       'precipIntensity', 'precipProbability', 'humidity', 'windSpeed',
       'windGust', 'windGustTime', 'visibility', 'temperatureHigh',
       'temperatureHighTime', 'temperatureLow', 'temperatureLowTime',
       'apparentTemperatureHigh', 'apparentTemperatureHighTime',
       'apparentTemperatureLow', 'apparentTemperatureLowTime', 'icon',
       'dewPoint', 'pressure', 'windBearing', 'cloudCover', 'uvIndex',
       'visibility.1', 'ozone', 'sunriseTime', 'sunsetTime', 'moonPhase',
       'precipIntensityMax', 'uvIndexTime', 'temperatureMin',
       'temperatureMinTime', 'temperatureMax', 'temperatureMaxTime',
       'apparentTemperatureMin', 'apparentTemperatureMinTime',
       'apparentTemperatureMax', 'apparentTemperatureMaxTime'],
      dtype='object')

In [5]:
rideshare.describe()

,timestamp,hour,day,month,price,distance,surge_multiplier,latitude,longitude,temperature,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
count,6.930710e+05,693071.000000,693071.000000,693071.000000,637976.000000,693071.000000,693071.000000,693071.000000,693071.000000,693071.000000,...,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,6.930710e+05,693071.000000,6.930710e+05
mean,1.544046e+09,11.619137,17.794365,11.586684,16.545125,2.189430,1.013870,42.338172,-71.066151,39.584388,...,0.037374,1.544044e+09,33.457774,1.544042e+09,45.261313,1.544047e+09,29.731002,1.544048e+09,41.997343,1.544048e+09
std,6.891925e+05,6.948114,9.982286,0.492429,9.324359,1.138937,0.091641,0.047840,0.020302,6.726084,...,0.055214,6.912028e+05,6.467224,6.901954e+05,5.645046,6.901353e+05,7.110494,6.871862e+05,6.936841,6.910777e+05
min,1.543204e+09,0.000000,1.000000,11.000000,2.500000,0.020000,1.000000,42.214800,-71.105400,18.910000,...,0.000000,1.543162e+09,15.630000,1.543122e+09,33.510000,1.543154e+09,11.810000,1.543136e+09,28.950000,1.543187e+09
25%,1.543444e+09,6.000000,13.000000,11.000000,9.000000,1.280000,1.000000,42.350300,-71.081000,36.450000,...,0.000000,1.543421e+09,30.170000,1.543399e+09,42.570000,1.543439e+09,27.760000,1.543399e+09,36.570000,1.543439e+09
50%,1.543737e+09,12.000000,17.000000,12.000000,13.500000,2.160000,1.000000,42.351900,-71.063100,40.490000,...,0.000400,1.543770e+09,34.240000,1.543727e+09,44.680000,1.543788e+09,30.130000,1.543745e+09,40.950000,1.543788e+09
75%,1.544828e+09,18.000000,28.000000,12.000000,22.500000,2.920000,1.000000,42.364700,-71.054200,43.580000,...,0.091600,1.544807e+09,38.880000,1.544789e+09,46.910000,1.544814e+09,35.710000,1.544789e+09,44.120000,1.544818e+09
max,1.545161e+09,23.000000,30.000000,12.000000,97.500000,7.860000,3.000000,42.366100,-71.033000,57.220000,...,0.145900,1.545152e+09,43.100000,1.545192e+09,57.870000,1.545109e+09,40.050000,1.545134e+09,57.200000,1.545109e+09

In [6]:
rideshare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 57 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           693071 non-null  object
 1   timestamp                    693071 non-null  float64
 2   hour                         693071 non-null  int64
 3   day                          693071 non-null  int64
 4   month                        693071 non-null  int64
 5   datetime                     693071 non-null  object
 6   timezone                     693071 non-null  object
 7   source                       693071 non-null  object
 8   destination                  693071 non-null  object
 9   cab_type                     693071 non-null  object
 10  product_id                   693071 non-null  object
 11  name                         693071 non-null  object
 12  price                        637976 non-null  float64
 13  distance                     693071 non-null  float64
 14  surge_multiplier             693071 non-null  float64
 15  latitude                     693071 non-null  float64
 16  longitude                    693071 non-null  float64
 17  temperature                  693071 non-null  float64
 18  apparentTemperature          693071 non-null  float64
 19  short_summary                693071 non-null  object
 20  long_summary                 693071 non-null  object
 21  precipIntensity              693071 non-null  float64
 22  precipProbability            693071 non-null  float64
 23  humidity                     693071 non-null  float64
 24  windSpeed                    693071 non-null  float64
 25  windGust                     693071 non-null  float64
 26  windGustTime                 693071 non-null  int64
 27  visibility                   693071 non-null  float64
 28  temperatureHigh              693071 non-null  float64
 29  temperatureHighTime          693071 non-null  int64
 30  temperatureLow               693071 non-null  float64
 31  temperatureLowTime           693071 non-null  int64
 32  apparentTemperatureHigh      693071 non-null  float64
 33  apparentTemperatureHighTime  693071 non-null  int64
 34  apparentTemperatureLow       693071 non-null  float64
 35  apparentTemperatureLowTime   693071 non-null  int64
 36  icon                         693071 non-null  object
 37  dewPoint                     693071 non-null  float64
 38  pressure                     693071 non-null  float64
 39  windBearing                  693071 non-null  int64
 40  cloudCover                   693071 non-null  float64
 41  uvIndex                      693071 non-null  int64
 42  visibility.1                 693071 non-null  float64
 43  ozone                        693071 non-null  float64
 44  sunriseTime                  693071 non-null  int64
 45  sunsetTime                   693071 non-null  int64
 46  moonPhase                    693071 non-null  float64
 47  precipIntensityMax           693071 non-null  float64
 48  uvIndexTime                  693071 non-null  int64
 49  temperatureMin               693071 non-null  float64
 50  temperatureMinTime           693071 non-null  int64
 51  temperatureMax               693071 non-null  float64
 52  temperatureMaxTime           693071 non-null  int64
 53  apparentTemperatureMin       693071 non-null  float64
 54  apparentTemperatureMinTime   693071 non-null  int64
 55  apparentTemperatureMax       693071 non-null  float64
 56  apparentTemperatureMaxTime   693071 non-null  int64
dtypes: float64(29), int64(17), object(11)
memory usage: 272.3+ MB

***Removing Unwanted Columns***

In [7]:
rideshare.drop(['apparentTemperature', 'short_summary', 'long_summary',
'precipIntensity', 'precipProbability', 'humidity', 'windSpeed',
'windGust', 'windGustTime', 'visibility.1', 'temperatureHigh',
'temperatureHighTime', 'temperatureLow', 'temperatureLowTime',
'apparentTemperatureHigh', 'apparentTemperatureHighTime',
'apparentTemperatureLow', 'apparentTemperatureLowTime', 'icon',
'dewPoint', 'pressure', 'windBearing', 'cloudCover', 'uvIndex',
'ozone', 'sunriseTime', 'sunsetTime', 'moonPhase',
'precipIntensityMax', 'uvIndexTime', 'temperatureMin',
'temperatureMinTime', 'temperatureMax', 'temperatureMaxTime',
'apparentTemperatureMin', 'apparentTemperatureMinTime',
'apparentTemperatureMax', 'apparentTemperatureMaxTime'], axis = 1, inplace=True)

In [8]:
rideshare.columns

Index(['id', 'timestamp', 'hour', 'day', 'month', 'datetime', 'timezone',
       'source', 'destination', 'cab_type', 'product_id', 'name', 'price',
       'distance', 'surge_multiplier', 'latitude', 'longitude', 'temperature',
       'visibility'],
      dtype='object')

In [9]:
rideshare.head(1)

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,product_id,name,price,distance,surge_multiplier,latitude,longitude,temperature,visibility
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,lyft_line,Shared,5.0,0.44,1.0,42.2148,-71.033,42.34,10.0

In [10]:
rideshare.drop(['timestamp', 'timezone'], axis=1, inplace=True)

***Creating Column for Year and Time***

In [11]:
rideshare['year'] = rideshare['datetime'].apply(lambda x: x.split('-')[0])

In [12]:
rideshare['time'] = rideshare['datetime'].apply(lambda x: x.split(' ')[1])

In [13]:
rideshare['year']

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
693066    2018
693067    2018
693068    2018
693069    2018
693070    2018
Name: year, Length: 693071, dtype: object

In [14]:
rideshare['time']

0         09:30:07
1         02:00:23
2         01:00:22
3         04:53:02
4         03:49:20
            ...
693066    23:53:05
693067    23:53:05
693068    23:53:05
693069    23:53:05
693070    23:53:05
Name: time, Length: 693071, dtype: object

In [15]:
rideshare.head(1)

,id,hour,day,month,datetime,source,destination,cab_type,product_id,name,price,distance,surge_multiplier,latitude,longitude,temperature,visibility,year,time
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,9,16,12,2018-12-16 09:30:07,Haymarket Square,North Station,Lyft,lyft_line,Shared,5.0,0.44,1.0,42.2148,-71.033,42.34,10.0,2018,09:30:07

In [16]:
# Making minute Column
rideshare['minute'] = rideshare['time'].apply(lambda x: x.split(':')[1])

In [17]:
# Making second Columns
rideshare['seconds'] = rideshare['time'].apply(lambda x: x.split(':')[2])

In [18]:
rideshare.head(1)

,id,hour,day,month,datetime,source,destination,cab_type,product_id,name,...,distance,surge_multiplier,latitude,longitude,temperature,visibility,year,time,minute,seconds
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,9,16,12,2018-12-16 09:30:07,Haymarket Square,North Station,Lyft,lyft_line,Shared,...,0.44,1.0,42.2148,-71.033,42.34,10.0,2018,09:30:07,30,07

In [19]:
# Droping datetime and time Columns
rideshare.drop(['datetime', 'time'], axis = 1, inplace = True)

In [20]:
rideshare.columns

Index(['id', 'hour', 'day', 'month', 'source', 'destination', 'cab_type',
       'product_id', 'name', 'price', 'distance', 'surge_multiplier',
       'latitude', 'longitude', 'temperature', 'visibility', 'year', 'minute',
       'seconds'],
      dtype='object')

**Rearranging the columns**

In [21]:
column = ['id', 'day', 'month', 'year', 'hour', 'minute', 'seconds', 'cab_type', 'product_id', 'name', 'surge_multiplier', 'source', 'destination', 'distance', 'price', 'latitude', 'longitude', 'visibility', 'temperature']

rideshare = rideshare.reindex(columns = column)

In [22]:
rideshare.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,16,12,2018,9,30,07,Lyft,lyft_line,Shared,1.0,Haymarket Square,North Station,0.44,5.0,42.2148,-71.033,10.0,42.34

### **Converting all the datatype to appropiate columns**

In [23]:
rideshare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                693071 non-null  object
 1   day               693071 non-null  int64
 2   month             693071 non-null  int64
 3   year              693071 non-null  object
 4   hour              693071 non-null  int64
 5   minute            693071 non-null  object
 6   seconds           693071 non-null  object
 7   cab_type          693071 non-null  object
 8   product_id        693071 non-null  object
 9   name              693071 non-null  object
 10  surge_multiplier  693071 non-null  float64
 11  source            693071 non-null  object
 12  destination       693071 non-null  object
 13  distance          693071 non-null  float64
 14  price             637976 non-null  float64
 15  latitude          693071 non-null  float64
 16  longitude         693071 non-null  float64
 17  visibility        693071 non-null  float64
 18  temperature       693071 non-null  float64
dtypes: float64(7), int64(3), object(9)
memory usage: 76.7+ MB

In [24]:
rideshare = rideshare.astype({'day': 'int32', 'month': 'int32', 'year': 'int32', 
'surge_multiplier': 'float32', 'distance': 'float32', 
'price': 'float32', 'latitude': 'float32', 'longitude': 'float32', 
'visibility': 'float32', 'temperature': 'float32'})

In [25]:
rideshare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                693071 non-null  object
 1   day               693071 non-null  int32
 2   month             693071 non-null  int32
 3   year              693071 non-null  int32
 4   hour              693071 non-null  int64
 5   minute            693071 non-null  object
 6   seconds           693071 non-null  object
 7   cab_type          693071 non-null  object
 8   product_id        693071 non-null  object
 9   name              693071 non-null  object
 10  surge_multiplier  693071 non-null  float32
 11  source            693071 non-null  object
 12  destination       693071 non-null  object
 13  distance          693071 non-null  float32
 14  price             637976 non-null  float32
 15  latitude          693071 non-null  float32
 16  longitude         693071 non-null  float32
 17  visibility        693071 non-null  float32
 18  temperature       693071 non-null  float32
dtypes: float32(7), int32(3), int64(1), object(8)
memory usage: 52.9+ MB

In [26]:
len(rideshare)

693071

## Creating Seperate Variables to store the information in chunks

In [27]:
rideshare['source'].unique()

array(['Haymarket Square', 'Back Bay', 'North End', 'North Station',
       'Beacon Hill', 'Boston University', 'Fenway', 'South Station',
       'Theatre District', 'West End', 'Financial District',
       'Northeastern University'], dtype=object)

In [28]:
rideshare['destination'].unique()

array(['North Station', 'Northeastern University', 'West End',
       'Haymarket Square', 'South Station', 'Fenway', 'Theatre District',
       'Beacon Hill', 'Back Bay', 'North End', 'Financial District',
       'Boston University'], dtype=object)

In [29]:
rideshare['product_id'].unique()

array(['lyft_line', 'lyft_premier', 'lyft', 'lyft_luxsuv', 'lyft_plus',
       'lyft_lux', '6f72dfc5-27f1-42e8-84db-ccc7a75f6969',
       '6c84fd89-3f11-4782-9b50-97c468b19529',
       '55c66225-fbe7-4fd5-9072-eab1ece5e23e',
       '9a0e7b09-b92b-4c41-9779-2ad22b4d779d',
       '6d318bcc-22a3-4af6-bddd-b409bfce1546',
       '997acbb5-e102-41e1-b155-9df7de0a73f2',
       '8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a'], dtype=object)

In [30]:
rideshare['name'].unique()

array(['Shared', 'Lux', 'Lyft', 'Lux Black XL', 'Lyft XL', 'Lux Black',
       'UberXL', 'Black', 'UberX', 'WAV', 'Black SUV', 'UberPool', 'Taxi'],
      dtype=object)

In [31]:
rideshare.head(5)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,16,12,2018,9,30,07,Lyft,lyft_line,Shared,1.0,Haymarket Square,North Station,0.44,5.0,42.214802,-71.032997,10.000,42.340000
1,4bd23055-6827-41c6-b23b-3c491f24e74d,27,11,2018,2,00,23,Lyft,lyft_premier,Lux,1.0,Haymarket Square,North Station,0.44,11.0,42.214802,-71.032997,4.786,43.580002
2,981a3613-77af-4620-a42a-0c0866077d1e,28,11,2018,1,00,22,Lyft,lyft,Lyft,1.0,Haymarket Square,North Station,0.44,7.0,42.214802,-71.032997,10.000,38.330002
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,30,11,2018,4,53,02,Lyft,lyft_luxsuv,Lux Black XL,1.0,Haymarket Square,North Station,0.44,26.0,42.214802,-71.032997,10.000,34.380001
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,29,11,2018,3,49,20,Lyft,lyft_plus,Lyft XL,1.0,Haymarket Square,North Station,0.44,9.0,42.214802,-71.032997,10.000,37.439999

## **Different Car Type**

In [32]:
shared_car = rideshare.copy()
shared_car = shared_car[shared_car.name == 'Shared']
shared_car.to_csv('datasets/Car_Type/shared_car.csv', index=False)
shared_car.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,16,12,2018,9,30,07,Lyft,lyft_line,Shared,1.0,Haymarket Square,North Station,0.44,5.0,42.214802,-71.032997,10.0,42.34

In [33]:
Uber_XL = rideshare.copy()
Uber_XL = Uber_XL[Uber_XL.name == 'UberXL']
Uber_XL.to_csv('datasets/Car_Type/uber_xl.csv', index=False)
Uber_XL.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
12,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,30,11,2018,22,13,01,Uber,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,1.0,North End,West End,1.11,12.0,42.3647,-71.054199,9.833,40.130001

In [34]:
wav_car = rideshare.copy()
wav_car = wav_car[wav_car.name == 'WAV']
wav_car.to_csv('datasets/Car_Type/wav_car.csv', index = False)
wav_car.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
15,50ef1165-9d23-416c-a65c-18906207b295,16,12,2018,23,55,11,Uber,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV,1.0,North End,West End,1.11,7.5,42.3647,-71.054199,4.054,41.290001

In [35]:
Black_SUV = rideshare.copy()
Black_SUV = Black_SUV[Black_SUV.name == 'Black SUV']
Black_SUV.to_csv('datasets/Car_Type/SUV.csv', index = False)
Black_SUV.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
16,91c4861c-1780-42b0-bca1-bbd64a422cc3,14,12,2018,0,40,07,Uber,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV,1.0,North End,West End,1.11,26.0,42.3647,-71.054199,10.0,31.25

In [36]:
taxi = rideshare.copy()
taxi = taxi[taxi.name == 'Taxi']
taxi.to_csv('datasets/Car_Type/taxi.csv', index = False)
taxi.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
18,fa5fb705-03a0-4eb9-82d9-7fe80872f754,1,12,2018,14,13,04,Uber,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi,1.0,North End,West End,1.11,NaN,42.3647,-71.054199,9.91,36.990002

In [37]:
car_type = rideshare.copy()
car_type = car_type[car_type.name == 'Black']
car_type.to_csv('datasets/Car_Type/car_type.csv', index = False)
car_type.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
13,23f145da-f0c1-4d1f-a184-496bc003a7db,13,12,2018,10,50,11,Uber,6c84fd89-3f11-4782-9b50-97c468b19529,Black,1.0,North End,West End,1.11,16.0,42.3647,-71.054199,9.831,20.379999

In [38]:
uber_x = rideshare.copy()
uber_x = uber_x[uber_x.name == 'UberX']
uber_x.to_csv('datasets/Car_Type/uber_X.csv', index = False)
uber_x.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
14,357559cb-8c58-4278-a41a-e33b2e0997a3,13,12,2018,19,15,03,Uber,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,1.0,North End,West End,1.11,7.5,42.3647,-71.054199,9.959,32.849998

In [39]:
Uber_Pool = rideshare.copy()
Uber_Pool = Uber_Pool[Uber_Pool.name == 'UberPool']
Uber_Pool.to_csv('datasets/Car_Type/uber_pool.csv', index = False)
Uber_Pool.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
17,e219e545-a006-4936-a6cc-7d00adf0e418,29,11,2018,19,18,00,Uber,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,1.0,North End,West End,1.11,5.5,42.3647,-71.054199,9.796,43.490002

In [40]:
lyft = rideshare.copy()
lyft = lyft[lyft.name == 'Lyft']
lyft.to_csv('datasets/Car_Type/lyft.csv', index = False)
lyft.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
2,981a3613-77af-4620-a42a-0c0866077d1e,28,11,2018,1,00,22,Lyft,lyft,Lyft,1.0,Haymarket Square,North Station,0.44,7.0,42.214802,-71.032997,10.0,38.330002

In [41]:
lux_car = rideshare.copy()
lux_car = lux_car[lux_car.name == 'Lux']
lux_car.to_csv('datasets/Car_Type/lux_car.csv', index = False)
lux_car.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
1,4bd23055-6827-41c6-b23b-3c491f24e74d,27,11,2018,2,00,23,Lyft,lyft_premier,Lux,1.0,Haymarket Square,North Station,0.44,11.0,42.214802,-71.032997,4.786,43.580002

In [42]:
lux_black_xl = rideshare.copy()
lux_black_xl = lux_black_xl[lux_black_xl.name == 'Lux Black XL']
lux_black_xl.to_csv('datasets/Car_Type/lux_black_xl.csv', index = False)
lux_black_xl.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,30,11,2018,4,53,02,Lyft,lyft_luxsuv,Lux Black XL,1.0,Haymarket Square,North Station,0.44,26.0,42.214802,-71.032997,10.0,34.380001

In [43]:
lux_Black = rideshare.copy()
lux_Black = lux_Black[lux_Black.name == 'Lux Black']
lux_Black.to_csv('datasets/Car_Type/lux_Black.csv', index = False)
lux_Black.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
5,f6f6d7e4-3e18-4922-a5f5-181cdd3fa6f2,17,12,2018,18,25,12,Lyft,lyft_lux,Lux Black,1.0,Haymarket Square,North Station,0.44,16.5,42.214802,-71.032997,8.325,38.75

In [44]:
lyft_xl = rideshare.copy()
lyft_xl = lyft_xl[lyft_xl.name == 'Lyft XL']
lyft_xl.to_csv('datasets/Car_Type/lyft_xl.csv', index = False)
lyft_xl.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,29,11,2018,3,49,20,Lyft,lyft_plus,Lyft XL,1.0,Haymarket Square,North Station,0.44,9.0,42.214802,-71.032997,10.0,37.439999

## **Seperate column for Uber and Lyft**

In [45]:
cab = rideshare.copy()
cab = cab[cab.cab_type == 'Lyft'] 
cab.to_csv('datasets/Cab_Type/Lyft_cab.csv', index = False)
cab.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,16,12,2018,9,30,07,Lyft,lyft_line,Shared,1.0,Haymarket Square,North Station,0.44,5.0,42.214802,-71.032997,10.0,42.34

In [46]:
cab_Uber = rideshare.copy()
cab_Uber = cab_Uber[cab_Uber.cab_type != 'Lyft']
cab_Uber.to_csv('datasets/Cab_Type/Uber_cab.csv', index = False)
cab_Uber.head(1)

,id,day,month,year,hour,minute,seconds,cab_type,product_id,name,surge_multiplier,source,destination,distance,price,latitude,longitude,visibility,temperature
12,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,30,11,2018,22,13,01,Uber,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,1.0,North End,West End,1.11,12.0,42.3647,-71.054199,9.833,40.130001

In [47]:
rideshare.name.value_counts()

UberXL          55096
Black SUV       55096
WAV             55096
Black           55095
Taxi            55095
UberX           55094
UberPool        55091
Lyft            51235
Lyft XL         51235
Lux             51235
Lux Black XL    51235
Lux Black       51235
Shared          51233
Name: name, dtype: int64